<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Nicole26/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Nicole26/index.html [L]
</IfModule>
